/* ---------------CSS DEFUALT START------------------------ */

html{
    font-size: 6.25%;
}

*{
    margin: 0;
    padding: 0;   
    overflow-x: hidden;   
    font-size: 18rem;
    font-family: sans-serif;      
    box-sizing: border-box;
}

:root {
    --color-primary: #ff7779;

}
  


.button{
    cursor: pointer; 
    
    color: inherit;   
    background: transparent;

}


h1{   
    font-size: 30rem; 
}

.input{
    border: none;
    background: transparent;   
}
.input:focus{
    outline: none;
}

.textarea{ 
    background: transparent;

}
.textarea:focus{
    outline: none;
}

.a{
    text-decoration: none;
    color: inherit;
}
.a:active{  
    color: inherit;
}

body{   
    
}


